body {
	font-family: Arial, sans-serif;
	padding: 20px;
	background: #e28449;
}

h1 {
	text-align: center;
}

/* Zone de recherche */
#searchInput {
	padding: 10px;
	width: 250px;
	font-size: 16px;
}

/* Cartes des recettes */
.carte-recette {
	background: white;
	border-radius: 8px;
	padding: 10px;
	width: 200px;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	margin: 10px;
}

/* Grille pour afficher les recettes */
#recettes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}

/*  Modale */
.modale {
	display: none; /* Cachée au départ */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Ordre d'affichage, la toujours au premier plan */
}

/* Contenu de la Modale*/
.ModaleContent {
	background: white;
	padding: 20px;
	border-radius: 10px;
	width: 90%;
	max-width: 400px; /*fixe une largeur maximale*/
	text-align: center;
	position: relative; /* pour positionner le bouton Fermer */
}

/* Image*/
.ModaleContent img {
	width: 80%;
	border-radius: 10px;
	margin-bottom: 15px;
}

/*Liste ingrédients*/
.ModaleContent ul {
	text-align: left;
	margin: 10px auto;
	max-height: 200px;
	overflow-y: auto; /* Scroll si beaucoup d’ingrédients */
}

/*Bouton Fermer*/
#FermerModale {
	position: absolute;
	top: 10px;
	right: 10px;
	background: rgb(220, 53, 69);
	color: white;
	border: none;
	padding: 9px;
	border-radius: 5px;
	cursor: pointer; /*transforme le curseur en main avec un doigt*/
}

/* Bouton ajouter */
#addListBtn {
	margin-top: 15px;
	background: #e28449;
	color: white;
	border: none;
	padding: 12px;
	border-radius: 5px;
	cursor: pointer;
}

/* Liste de courses */
#shoppingList li {
	display: flex;
	justify-content: space-between;
	background: white;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}
